<!DOCTYPE html>
<html>
<head>
<link href="<%=url('/theme.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>
	Selecciona un tema
	<a class="button" href="<%= url('/set_groovenights') %>"> GrooveNights </a>
	<a class="button" href="<%= url('/set_itg3') %>">ITG3</a>
	<a class="button" href="<%= url('/') %>">Cancelar</a>
	<!-- <a href="/simply_love">Simply Love</a> -->
</body>
</html>
